.flex_container {
  display: flex;
  flex-direction: column;
}

.banner_bkg {
  background-size: cover;
  background-position: center center;
  background-image: url(../src/image/banner.png);
  height: 480px;
}
